---
import Layout from "../layouts/BaseLayout.astro";
import { Content as LandingPageContent } from '../content/site/landing-page.mdx';
---

<Layout title="Berk Özbalcı">
  <article class="wrapper">
    <div class="prose mx-auto">
      <LandingPageContent />
      <!--<h2>Writing</h2>-->
      <!--<div class="post-list">-->
      <!--  <div class="post-thumbnail">-->
      <!--    <a href="#">the title</a>-->
      <!--    <time>the time</time>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
  </article>
</Layout>

<style lang="scss">
  .post-thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;

    time {
      color: var(--gray-11);
    }

    & + & {
      border-top-width: 1px;
      border-top-color: var(--gray-5);
    }
  }
</style>
