---
import type {NavLink} from "../types/ui";
const { links } = Astro.props;
---

<nav class="sticky">
  <ul>
      {links.map((link: NavLink, index: number) => (
          <li><a href={link.href}>{link.text}</a></li>
      ))}
  </ul>
</nav>

<style lang="scss">
  @media screen and (min-width: 1024px) {
    .sticky {
      position: sticky;
      top: var(--gutter);
    }
  }
</style>