---
import BaseLayout from "@layouts/BaseLayout.astro";
import StickyNav from "@components/StickyNav.astro";
import { photoNav } from "@content/site/photo-navigation";
---

<BaseLayout title="Photo">
  <div class="wrapper">
    <div class="photo-gallery sidebar">
      <StickyNav links={photoNav} />
      <slot />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .photo-gallery {
    --sidebar-target-width: 14.5rem;
    align-items: flex-start;
  }
</style>
